/androidx.annotation-annotation-1.0.0.jar
/androidx.arch.core-core-common-2.0.0.jar
/androidx.arch.core-core-runtime-2.0.0.jar
/androidx.asynclayoutinflater-asynclayoutinflater-1.0.0.jar
/androidx.cardview-cardview-1.0.0.jar
/androidx.collection-collection-1.0.0.jar
/androidx.coordinatorlayout-coordinatorlayout-1.0.0.jar
/androidx.core-core-1.0.0.jar
/androidx.cursoradapter-cursoradapter-1.0.0.jar
/androidx.customview-customview-1.0.0.jar
/androidx.documentfile-documentfile-1.0.0.jar
/androidx.drawerlayout-drawerlayout-1.0.0.jar
/androidx.fragment-fragment-1.0.0.jar
/androidx.interpolator-interpolator-1.0.0.jar
/androidx.legacy-legacy-support-core-ui-1.0.0.jar
/androidx.legacy-legacy-support-core-utils-1.0.0.jar
/androidx.legacy-legacy-support-v4-1.0.0.jar
/androidx.lifecycle-lifecycle-common-2.0.0.jar
/androidx.lifecycle-lifecycle-livedata-2.0.0.jar
/androidx.lifecycle-lifecycle-livedata-core-2.0.0.jar
/androidx.lifecycle-lifecycle-runtime-2.0.0.jar
/androidx.lifecycle-lifecycle-viewmodel-2.0.0.jar
/androidx.loader-loader-1.0.0.jar
/androidx.localbroadcastmanager-localbroadcastmanager-1.0.0.jar
/androidx.media-media-1.0.0.jar
/androidx.print-print-1.0.0.jar
/androidx.slidingpanelayout-slidingpanelayout-1.0.0.jar
/androidx.swiperefreshlayout-swiperefreshlayout-1.0.0.jar
/androidx.versionedparcelable-versionedparcelable-1.0.0.jar
/androidx.viewpager-viewpager-1.0.0.jar
